<footer>
  <div class="footer-content">
    <div class="footer-description">
      <div class="logo-description">
        <div class="img-title"><img src="/assets/images/Footer-images/japanese-food.png" alt="logo" />
          <h2>Bistro Bliss</h2></div>
        <p>
          In the new era of technology we look a in the future with certainty
          and pride to for our company and.
        </p>
      </div>
      <div class="footer-logos">
        <div class="logo-container">
          <img
            src="/assets/images/Nav-images/logo-twitter 2.png"
            alt="twitter-logo"
          />
        </div>
        <div class="logo-container">
          <img
            src="/assets/images/Nav-images/facebook-groub.png"
            alt="facebook-logo"
          />
        </div>
        <div class="logo-container">
          <img
            src="/assets/images/Nav-images/logo-instagram 1.png"
            alt="instagram-logo"
          />
        </div>

        <div class="logo-container">
          <img src="/assets/images/Nav-images/github.png" alt="github-logo" />
        </div>
      </div>
    </div>
    <div class="footer-pages">
      <div class="footer-page">
        <h4>Pages</h4>
        <ul>
          <li>Home</li>
          <li>About</li>
          <li>Menu</li>
          <li>Pricing</li>
          <li>Blog</li>
          <li>Contact</li>
          <li>Delivery</li>
        </ul>
      </div>
      <div class="footer-page">
        <h4>Utility Pages</h4>
        <ul>
          <li>Start Here</li>
          <li>Styleguide</li>
          <li>Password Protected</li>
          <li>404 Not Found</li>
          <li>Licenses</li>
          <li>Changelog</li>
          <li>View More</li>
        </ul>
      </div>
    </div>
    <div class="footer-insta-imgs">
      <h3>Follow Us On Instagram</h3>
      <div class="insta-imgs">
        <img
          src="/assets/images/Footer-images/pexels-steve-3789885 1.png"
          alt="insta-1"
        />
        <img
          src="/assets/images/Footer-images/eiliv-aceron-d5PbKQJ0Lu8-unsplash 1.png"
          alt="insta-2"
        />
        <img
          src="/assets/images/Footer-images/pexels-ella-olsson-1640772 1.png"
          alt="insta-3"
        />
        <img
          src="/assets/images/Footer-images/pexels-ash-376464 1.png"
          alt="insta-4"
        />
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <p>Copyright © 2023 Hashtag Developer. All Rights Reserved</p>
  </div>
</footer>
