<nav>
    <div class="top-nav">
        <div class="contact-info">
        <div class="phone">
            <img src="../assets/images/Nav-images/phone.png" alt="phone-logo" />
            <p>(414) 857 - 0107</p>
        </div>
        <div class="email">
            <img src="assets/images/Nav-images/email-logo.png" alt="email-logo" />
            <p>yummy&#64;bistrobliss</p>
        </div>
        </div>
        <div class="social-logos">
            <div class="logo-container">
                <img
                src="/assets/images/Nav-images/logo-twitter 2.png"
                alt="twitter-logo"
                />
            </div>
            <div class="logo-container">
                <img
                src="/assets/images/Nav-images/facebook-groub.png"
                alt="facebook-logo"
                />
            </div>
            <div class="logo-container">
                <img
                src="/assets/images/Nav-images/logo-instagram 1.png"
                alt="instagram-logo"
                />
            </div>

            <div class="logo-container">
                <img src="/assets/images/Nav-images/github.png" alt="github-logo" />
            </div>
        </div>
    </div>
    <div class="bottom-nav">
        <div class="logo-container">
            <img src="/assets/images/Nav-images/japanese-food.png" alt="logo" />
            <p>Bistro Bliss</p>
        </div>
        <ul class="pages-container">
            <a routerLinkActive="active" routerLink="home">Home</a>
            <a routerLinkActive="active" routerLink="about">About</a>
            <a routerLinkActive="active" routerLink="menu">Menu</a>
            <a routerLinkActive="active" routerLink="pages">Pages</a>
            <a routerLinkActive="active" routerLink="contact">Contact</a>
        </ul>

        <button class="booking-btn">Book A Table</button>
    </div>
</nav>
